*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* hader and navigation style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nave title{
    font-weight: 700;
    font-size: 45px;

}

nav ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-left: 50px;
}

.text-primary{
color: #fd6e0a;
}
.btn-primary{
    color: aliceblue;
    background-color: #fd6e0a;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 35px;
    height: 64px;
}
.header{
 background-color: antiquewhite;
 background-image: url('../images/header_bg.png'), url('../images/developer.png');
 background-repeat: no-repeat;
 background-position: bottom right,left;
}
/* banner style */
.banner{
    margin: 200px;
    display: flex;
    align-items: center;

}
.banner-title{
    font-size: 20px;
    margin-bottom: 40px;
}
.banner-subtitle{
    font-size: 50px;   
margin-bottom: 5px;
}
.banner-description{
font-size: 15px;
margin-bottom: 20px;
}

/* about section style */
main{
max-width: 1140px;
margin: auto;
}

.about{
    margin-top: 130px;
    background-color: azure;
    border-radius: 10px;
    padding: 130px 150px;

}
.section-title{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
    font-size: 40px;

}
.section-description{
    color: burlywood;
    font-size: 20px;
    margin-bottom: 20px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
    text-align: center;

}
.info-title{
    color: aquamarine;
    font-size: 20px;
    
}
.info-desciption{
    color: cadetblue;
    font-size: 20px;
    font-weight:800;
}
/* what id styles */
.what-i-do{
    margin-top: 130px;
    text-align: center;

 
}
.skill-container{
    margin-top: 40px;
    display: flex;
    gap: 24px;
}
.skill{
    background-color: beige;
   box-shadow: 0px 6px 50px rgb(177, 173, 171);
  border-radius: 5px;
  padding: 30px;
  
}
.skill-title{
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: darkolivegreen;
}

/* summar contain */

.summary-contint{
    font-size: 30px;
    display: flex;
    gap: 70px;
}

.mummary-items{
    margin-top: 24px;

}
.mast{
    font-size: 25px;
    font-weight: 700;
   margin-top: 30px;
}
.harv{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}

.description{
    color: blueviolet;
    font-size: 16px;
    color: #757575;
    font-weight: 400;
    
}
.margin{
margin-top: 20px;
}
.button{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}