*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* hader and navigation style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nave title{
    font-weight: 700;
    font-size: 45px;

}

nav ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-left: 50px;
}

.text-primary{
color: #fd6e0a;
}
.btn-primary{
    color: aliceblue;
    background-color: #fd6e0a;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 35px;
    height: 64px;
}
.header{
 background-color: antiquewhite;
 background-image: url('../images/header_bg.png'), url('../images/developer.png');
 background-repeat: no-repeat;
 background-position: bottom right,left;
}
/* banner style */
.banner{
    margin: 200px;
    display: flex;
    align-items: center;

}
.banner-title{
    font-size: 20px;
    margin-bottom: 40px;
}
.banner-subtitle{
    font-size: 50px;   
margin-bottom: 5px;
}
.banner-description{
font-size: 15px;
margin-bottom: 20px;
}

/* about section style */
main{
max-width: 1140px;
margin: auto;
}

.about{
    margin-top: 130px;
    background-color: azure;
    border-radius: 10px;
    padding: 130px 150px;

}
.section-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;

}
.section-description{
    color: burlywood;
    font-size: 20px;
    margin-bottom: 20px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
    text-align: center;

}
.info-title{
    color: aquamarine;
    font-size: 20px;
    
}
.info-desciption{
    color: cadetblue;
    font-size: 20px;
    font-weight:800;
}